<!DOCTYPE html>
<html>
    <body>
        <h1>%s</h1>
        <form action="" autocomplete"on">
            <fieldset>
                <legend>Sign Up</legend>
                Username:<br>
                <input type="text" name="username">
                <br>
                Password:<br>
                <input type="password" name="password" autocomplete"off">
                <br>
                Verify Password:<br>
                <input type="text" name="verifypassword" autocomplete"off">
                <br>
                Email(optional):<br>
                <input type="text" name="email">
                <br><br>
                <input type="submit">
            </fieldset>
        </form>
    </body>
</html>
